.main-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    font-family: Roboto, sans-serif;
}

.section {
    position: relative;
}

.parallax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -4px;
    transform: translateZ(-1px) scale(1.7);
    background-size: 100%;
    z-index: -1;
}

.section-container {
    padding: 530px 82px 145px 82px;
}

.section-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-paragraph {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.section-block {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    padding: 49px 56px 42px 0px;
    display: inline-block;
}

.section-block-left-part {
    color: #f1ad1d;
    background-color: #ffffff;
    padding: 43px 34px 36px 29px;
}

.standard-section {
    padding: 100px 150px 70px;
    background-color: #ffffff;
    position: relative;
}

.standard-section-title {
    font-family: "Open Sans", sans-serif;
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

.standard-section-paragraph {
    color:  #424f57;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    line-height: 30px;
}

.standard-section-paragraph-section-7{
    color:  #d3cccc;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    line-height: 28px;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
}

.standard-section-paragraph-section-7-after {
    font-family: "Open Sans", sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    text-align: right;
    margin-right: 160px;
    margin-top: 20px
}

.border {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-top: 50px solid transparent;
}

.border2 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50px solid white;
}

.bg1::after {
    background-image: url("../img/bg1.jpg");

}

.section-3 {
    padding: 25px 0px 160px;
    background-color: rgba(0, 0, 0, 0.78);
    position: relative;
}

.section-white-title {
    color:  #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

.section-white-title-section-3{
    font-family: Futura, sans-serif;
    color:  #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 170px;
}

.blue-text {
    color: #14afca;
    font-size: 60px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}

.header-menu {
    height: 90px;
    box-sizing: border-box;
    text-align: center;
    color:  #3e4b4e;
    font-size: 15px;
    list-style: none;
    margin-bottom: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.header-menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}


.header-menu li {
    font-weight: 700;
    align-items: center;
}

.header-menu li:first-child {
    margin-right: 10%;
}

.header-menu li a:hover {
    color: #14afca;
}

.header-menu a {
    text-decoration: none;
    color:  #3e4b4e;
    padding: 0 1rem;
    margin: 0 1rem;
}

.header-logo {
    color: #000;
    font-size: 36px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
}

.header-logo span {
    text-transform: uppercase;
    color: #14afca;
    font-weight: 900;
}

.start-sec-link a {
    color: #14afca;
}

.bg2::after {
    background-image: url("../img/bg2.jpg");
}

.section-5 {
    padding: 120px 150px 100px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;

}

.section-logo-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.section-logo-group a {
    flex: 1 0 20%;
    white-space: nowrap;
    margin-bottom: 80px;
    margin-right: 30px;
}

.section-logo-group a:nth-child(n5-1){
    margin-right: 0px;
}

.second-logo-link {
    background-color: #fff;
    height: 92px;
    padding-top: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.second-logo-link img:nth-child(1) {
    float: left;
    padding-left: 7px;
}

.second-logo-link img:nth-child(2) {
    padding-top: 15px;
}

.fourth-logo-link {
    margin-top: 20px;
}

.eighth-logo-link {
    margin-right: 15px;
}

.ourTeam {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.ourTeam figure {
    flex: 1 1 0;
    text-align: center;
}

.secondPer {
    height: 206px;
}

.ourTeam img {
    margin-bottom: 40px;
}

.ourTeam figcaption{
    line-height: 30px;
    color:  #424f57;
    font-size: 15px;
    margin: 0 20px;
}

.bg3::after {
    background-image: url("../img/bg3.jpg");
}

.section-7 {
    padding: 160px 200px 130px;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-white-paragraph {
    color: #ffffff;
    text-align: center;
    margin-top: 60px;

}

.formula {
    margin: 50px 90px 100px 90px;
    color:  #424f57;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.copyright {
    font-family: OpenSans, sans-serif;
    color:  #3d3c3c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.copyright span {
    font-size: 16px;
    font-weight: 700;
}





